<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <h2><%= judul %></h2>
      <form action="/contact/tambah" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nama</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">No Hp</label>
          <input type="number" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/contact/list" class="btn btn-secondary float-right">Cancel</a>
      </form>
    </div>
  </div>
</div>