<div class="container mt-4">
  <div class="row">
    <div class="col text-center">
      <img src="img/foto.png" alt="foto profil" class="img-thumbnail rounded-circle">
      <h3 class="display-4">Al-Abdul Gani</h3>
      <p>Fullstack Programmer</p>
    </div>
  </div>
</div>